.gradle
build
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.kotlin

### LOCAL SECRETS ###
.env

### IntelliJ IDEA ###
.idea
.intellijPlatform
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
.junie/

### Mac OS ###
.DS_Store

### PROJECT SPECIFIC ###
.hidden/
.output.txt
.reference

### Python ###
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
.pytype/
.tox/
.nox/
.eggs/
*.egg-info/
dist/
wheels/
pip-wheel-metadata/
